In [1]:
import pandas as pd
import warnings
warnings.filterwarnings("ignore")
from datetime import datetime
now=datetime.now()

In [2]:
#Loading the dataset

dataset=pd.read_csv("Fraud_Prediction_preprocessed.csv",index_col=None)
dataset

,Transaction_Amount,Transaction_Type,Account_Balance,Device_Type,Location,Merchant_Category,IP_Address_Flag,Previous_Fraudulent_Activity,Daily_Transaction_Count,Avg_Transaction_Amount_7d,Failed_Transaction_Count_7d,Card_Type,Transaction_Distance,Authentication_Method,Risk_Score,Is_Weekend,Fraud_Label,Transaction_Month,Card_Age_Years
0,39.79,POS,93213.17,Laptop,Sydney,Travel,0,0,7,437.63,3,Amex,883.17,Biometric,0.8494,0,0,August,5 to 10
1,1.19,Bank Transfer,75725.25,Mobile,New York,Clothing,0,0,13,478.76,4,Mastercard,2203.36,Password,0.0959,0,1,June,10+
2,28.96,Online,1588.96,Tablet,Mumbai,Restaurants,0,0,14,50.01,4,Visa,1909.29,Biometric,0.8400,0,1,June,10+
3,254.32,ATM Withdrawal,76807.20,Tablet,New York,Clothing,0,0,8,182.48,4,Visa,1311.86,OTP,0.7935,0,1,December,5 to 10
4,31.28,POS,92354.66,Mobile,Mumbai,Electronics,0,1,14,328.69,4,Mastercard,966.98,Password,0.3819,1,1,November,10+
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,45.05,Online,76960.11,Mobile,Tokyo,Clothing,0,0,2,389.00,3,Amex,1537.54,PIN,0.1493,1,0,January,5 to 10
49996,126.15,POS,28791.75,Mobile,Tokyo,Clothing,0,0,13,434.95,4,Visa,2555.72,Biometric,0.3653,0,1,May,5 to 10
49997,72.02,Online,29916.41,Laptop,Mumbai,Clothing,0,1,1,369.15,2,Visa,4686.59,Biometric,0.5195,0,0,January,5 to 10
49998,64.89,Bank Transfer,67895.67,Mobile,Tokyo,Electronics,0,0,13,242.29,4,Discover,4886.92,Biometric,0.7063,0,1,March,5 to 10
49999,13.00,Bank Transfer,7668.82,Tablet,London,Restaurants,0,0,5,273.78,1,Mastercard,1568.95,OTP,0.8938,0,1,August,10+

In [3]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 19 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Transaction_Amount            50000 non-null  float64
 1   Transaction_Type              50000 non-null  object
 2   Account_Balance               50000 non-null  float64
 3   Device_Type                   50000 non-null  object
 4   Location                      50000 non-null  object
 5   Merchant_Category             50000 non-null  object
 6   IP_Address_Flag               50000 non-null  int64
 7   Previous_Fraudulent_Activity  50000 non-null  int64
 8   Daily_Transaction_Count       50000 non-null  int64
 9   Avg_Transaction_Amount_7d     50000 non-null  float64
 10  Failed_Transaction_Count_7d   50000 non-null  int64
 11  Card_Type                     50000 non-null  object
 12  Transaction_Distance          50000 non-null  float64
 13  Authentication_Method         50000 non-null  object
 14  Risk_Score                    50000 non-null  float64
 15  Is_Weekend                    50000 non-null  int64
 16  Fraud_Label                   50000 non-null  int64
 17  Transaction_Month             50000 non-null  object
 18  Card_Age_Years                50000 non-null  object
dtypes: float64(5), int64(6), object(8)
memory usage: 7.2+ MB

In [4]:
# Converting the categorical columns

col=dataset.select_dtypes(include=['object']).columns
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
for x in col:
    dataset[x]=le.fit_transform(dataset[x])

In [5]:
dataset

,Transaction_Amount,Transaction_Type,Account_Balance,Device_Type,Location,Merchant_Category,IP_Address_Flag,Previous_Fraudulent_Activity,Daily_Transaction_Count,Avg_Transaction_Amount_7d,Failed_Transaction_Count_7d,Card_Type,Transaction_Distance,Authentication_Method,Risk_Score,Is_Weekend,Fraud_Label,Transaction_Month,Card_Age_Years
0,39.79,3,93213.17,0,3,4,0,0,7,437.63,3,0,883.17,0,0.8494,0,0,1,3
1,1.19,1,75725.25,1,2,0,0,0,13,478.76,4,2,2203.36,3,0.0959,0,1,6,2
2,28.96,2,1588.96,2,1,3,0,0,14,50.01,4,3,1909.29,0,0.8400,0,1,6,2
3,254.32,0,76807.20,2,2,0,0,0,8,182.48,4,3,1311.86,1,0.7935,0,1,2,3
4,31.28,3,92354.66,1,1,1,0,1,14,328.69,4,2,966.98,3,0.3819,1,1,9,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,45.05,2,76960.11,1,4,0,0,0,2,389.00,3,0,1537.54,2,0.1493,1,0,4,3
49996,126.15,3,28791.75,1,4,0,0,0,13,434.95,4,3,2555.72,0,0.3653,0,1,8,3
49997,72.02,2,29916.41,0,1,0,0,1,1,369.15,2,3,4686.59,0,0.5195,0,0,4,3
49998,64.89,1,67895.67,1,4,1,0,0,13,242.29,4,1,4886.92,0,0.7063,0,1,7,3
49999,13.00,1,7668.82,2,0,3,0,0,5,273.78,1,2,1568.95,1,0.8938,0,1,1,2

In [6]:
# Splitting input and output data

indep=dataset.drop('Fraud_Label',axis=1)
dep=dataset['Fraud_Label']

In [7]:
# Feature selection using SelectKBest Algorithm

def SelectKBest(indep,dep,n):
    from sklearn.feature_selection import SelectKBest
    from sklearn.feature_selection import chi2
    test=SelectKBest(score_func=chi2,k=n)
    fit=test.fit(indep,dep)
    selectk_features=fit.transform(indep)
    feature_names=indep.columns[fit.get_support(indices=True)].tolist()
    return selectk_features,feature_names

In [8]:
kbest,Feature_Names=SelectKBest(indep,dep,3)

In [9]:
kbest,Feature_Names

(array([[9.321317e+04, 3.000000e+00, 8.494000e-01],
        [7.572525e+04, 4.000000e+00, 9.590000e-02],
        [1.588960e+03, 4.000000e+00, 8.400000e-01],
        ...,
        [2.991641e+04, 2.000000e+00, 5.195000e-01],
        [6.789567e+04, 4.000000e+00, 7.063000e-01],
        [7.668820e+03, 1.000000e+00, 8.938000e-01]]),
 ['Account_Balance', 'Failed_Transaction_Count_7d', 'Risk_Score'])

In [10]:
model_performance=[]

In [11]:
# Importing all the models from the classifier python file

from FS_Classifier import Split_scalar,cm_prediction,logistic,naive_bayes,KNN,randomforestclassifier,decisiontreeclassifier

In [12]:
# Splitting the dataset into training and testing sets.
# Standardising the input data with Standard Scaler

X_train,X_test,y_train,y_test,sc=Split_scalar(kbest,dep)

# Training the models and evaluating the metrics for best model selection

classifier,accuracy,precision,recall,f1,score,cm,report=logistic(X_train,y_train,X_test,y_test)
model_performance.append({'Model': 'logistic', 'Accuracy': accuracy, 'Precision': precision, 'Recall': recall, 'F1 Score': f1, 'AUC-ROC': score})
            
classifier,accuracy,precision,recall,f1,score,cm,report=KNN(X_train,y_train,X_test,y_test)  
model_performance.append({'Model': 'KNN', 'Accuracy': accuracy, 'Precision': precision, 'Recall': recall, 'F1 Score': f1, 'AUC-ROC': score})
        
classifier,accuracy,precision,recall,f1,score,cm,report=naive_bayes(X_train,y_train,X_test,y_test)  
model_performance.append({'Model': 'Naive Bayes', 'Accuracy': accuracy, 'Precision': precision, 'Recall': recall, 'F1 Score': f1, 'AUC-ROC': score})
        
classifier,accuracy,precision,recall,f1,score,cm,report=decisiontreeclassifier(X_train,y_train,X_test,y_test)  
model_performance.append({'Model': 'DecisionTree Classifier', 'Accuracy': accuracy, 'Precision': precision, 'Recall': recall, 'F1 Score': f1, 'AUC-ROC': score})
        
classifier,accuracy,precision,recall,f1,score,cm,report=randomforestclassifier(X_train,y_train,X_test,y_test)  
model_performance.append({'Model': 'Random Forest Classifier', 'Accuracy': accuracy, 'Precision': precision, 'Recall': recall, 'F1 Score': f1, 'AUC-ROC': score})

Fitting 5 folds for each of 18 candidates, totalling 90 fits
The best model is {'penalty': 'l1', 'solver': 'liblinear'}
Fitting 5 folds for each of 2 candidates, totalling 10 fits
The best model is {'n_neighbors': 5}
Fitting 5 folds for each of 12 candidates, totalling 60 fits
The best model is {'criterion': 'gini', 'max_features': 'sqrt', 'splitter': 'best'}
Fitting 5 folds for each of 6 candidates, totalling 30 fits
The best model is {'criterion': 'gini', 'max_features': 'sqrt', 'n_estimators': 100}

In [13]:
Result = pd.DataFrame(model_performance)

In [14]:
Result

                      Model  Accuracy  Precision    Recall  F1 Score   AUC-ROC
0                  logistic   0.80152   0.722082  0.634218  0.675304  0.896175
1                       KNN   0.99704   0.995331  0.995575  0.995453  0.999968
2               Naive Bayes   0.89104   0.854374  0.801868  0.827289  0.948643
3   DecisionTree Classifier   0.99960   0.999508  0.999263  0.999385  0.999513
4  Random Forest Classifier   1.00000   1.000000  1.000000  1.000000  1.000000

# creating the model with the best performed one.
# From the above table, we can create the model with Random Forest Classifier since all the parameters are equal to 1 which denotes a very good performance of the model.

In [15]:
from sklearn.ensemble import RandomForestClassifier
Classifier = RandomForestClassifier(criterion='gini', max_features='sqrt', n_estimators=100)
Classifier.fit(X_train,y_train)
y_pred=Classifier.predict(X_test)

In [16]:
from sklearn.metrics import confusion_matrix,classification_report,roc_auc_score
cm=confusion_matrix(y_test,y_pred)
report=classification_report(y_test,y_pred)
score=roc_auc_score(y_test,Classifier.predict_proba(X_test)[:,1])
print("Confusion Matrix\n",cm)
print("Classification report\n",report)
print("ROC_AUC score is ",score)

Confusion Matrix
 [[8432    0]
 [   0 4068]]
Classification report
               precision    recall  f1-score   support

           0       1.00      1.00      1.00      8432
           1       1.00      1.00      1.00      4068

    accuracy                           1.00     12500
   macro avg       1.00      1.00      1.00     12500
weighted avg       1.00      1.00      1.00     12500

ROC_AUC score is  1.0

In [17]:
# Features selected for model creation 

feature_scores = pd.DataFrame({'Feature_name':Feature_Names,'Score':Classifier.feature_importances_})
feature_scores=feature_scores.sort_values(by='Score',ascending=False)
feature_scores

                  Feature_name     Score
1  Failed_Transaction_Count_7d  0.579029
2                   Risk_Score  0.419716
0              Account_Balance  0.001255

In [18]:
#Saving the best model

import pickle
filename="Fraud_Prediction_final_model.sav"
pickle.dump(Classifier,open(filename,'wb'))

In [19]:
Transaction_amount=int(input("Enter the transaction amount:"))
Failed_Txn_Count=int(input("Enter the failed transaction count:"))
Risk_Score=float(input("Enter the risk score:"))

Enter the transaction amount: 35000
Enter the failed transaction count: 4
Enter the risk score: 0.650

In [20]:
preinput=sc.transform([[Transaction_amount,Failed_Txn_Count,Risk_Score]])

In [21]:
loaded_model=pickle.load(open("Fraud_Prediction_final_model.sav",'rb'))
future_prediction=loaded_model.predict(preinput)

In [22]:
future_prediction

array([1], dtype=int64)

In [23]:
if(future_prediction==1):
    print("The transaction dated {} for the amount Rs.{} initiated by you is found to be suspicious and we request you to kindly contact the bank if it is not initiated by you.".format(now,Transaction_amount))
else:
    print("The transaction is found to be geniune")

The transaction dated 2025-04-15 16:39:13.017033 for the amount Rs.35000 initiated by you is found to be suspicious and we request you to kindly contact the bank if it is not initiated by you.